/* fonts */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* misc */
body {
    background-color: #622b86;
    margin: 0;
}

p {
    margin: 0;
    color: #230a38;
    text-align: justify;
}

h1 {
    color: #230a38;
    margin: 0;
}

h2 {
    color: #230a38;
    margin: 0;
}

h3 {
    color: #230a38;
    margin: 0;
}

li {
    color: #230a38;
    margin: 0;
    padding: 2px
}

ul {
    margin: 0;
}

a {
    color: #800bd6;
}

::selection {
    background: #e54715
}

.welcome-title {
    color: #230a38;
    font-size: 36px;
}

/* big logo at the top */
.logo {
    text-align: center;
}

#main-logo:hover {
    transform: scale(1.1);
}

#main-logo {
    /* keep pixelly-ness */
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: transform .5s ease;
    width: 400px
}

/* blog */
.blog-button {
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    transition: transform .5s ease;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.blog-button:hover {
    transform: scale(1.05);
}

/* columns & spacing */
.wrapper {
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
}

.column-container {
    display: inline-grid;
}

.column {
    margin: 5px;
}

.left-column {
    grid-column-start: 1;
    grid-column-end: 1;
    width:700px;
}

.right-column {
    grid-column-start: 2;
    grid-column-end: 2;
    width:230px;
}

/* boxes o' info */
.inner-box {
    padding: 12px;
    border-radius: 20px;
    background-color:#e5d2ba;
    color:#000;
}

.outer-box {
    background-color: #491474;
    padding: 5px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.scrollable-box {
    overflow-y: scroll;
    height: 535px;
    scrollbar-width: none;
}

/* profile picture in bio box */
.main-box-pfp {
    float: right;
    width: 96px;
    margin-left: 15px;
    margin-right: 8px;
    margin-top: 5px;
    border-radius: 50%;
}

/* project images */
.project-images {
    display: flex;
    justify-content: center;
}

.project-image {
    width: 40%;
    display: inline-block;
    margin-right: 8px;
    margin-top: 10px;
    border-radius: 5px;
    transition: transform .2s ease;
}

.project-image:hover {
    transform: scale(1.35);
}

/* custom marquee text */
@keyframes marquee-left {
    /* this should be the length of the column its in */
    from {transform: translateX( 700px )}
    to {transform: translateX( -100% )}
}

.marquee-text {
    white-space: nowrap;
    animation: marquee-left 30s linear infinite;
    color:#ef6a41;
    width:fit-content;
}

/* animated goon */
#goon {
    float: right;
    position: relative;
    bottom: 91px;
    height: 80px;
    width: 70px;
}

.goon-up-sheet {
    background: url("../media/goon-up.png") 70px 0;
}

.goon-fall-sheet {
    background: url("../media/goon-fall.png") 0 0;
}

.clickable {
    cursor:pointer;
}

/* bogg holding onto a box */
#bogg {
    position: absolute;
    width: 75px;
    margin-left: -63px;
    margin-top: 450px;
}

/* footer */
.footer {
    height: 30px;
    background: #491474;
    margin-top: 30px;
}

/* link icons */
.icon {
    width: 16px;
    fill: #491474;
}